<div class="app">
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>发现</li>
            <li nz-menu-item>歌单</li>
          </ul>
        </div>
        <div class="right">
          <div class="search">
            <nz-input-group [nzSuffix]>
              <input type="text" nz-input placeholder="歌单/歌手/歌曲" />
            </nz-input-group>
          </div>
        </div>
      </div>
    </nz-header>
  </nz-layout>
</div>